{% include 'breadcrumb' %}

<div id="content" class="col-md-12 center-column content-with-background">
    <div class="row text-center" style="margin:40px auto">
          <div class="col-md-4">
          <div class="freeship whyus">
           <p>Free Shipping Anywhere</p> 
            </div>    
          </div>
          <div class="col-md-4">
          <div class="support whyus">
            <p>Support Team Anytime</p>
            </div>    
          </div>
          <div class="col-md-4">
          <div class="easyreturns whyus">
           <p>Easy Returns Always</p>
            </div>    
          </div>
          
          </div>
 
  <div class="row">
    <div class="col-sm-12">
      {{page.content}}
<style>
   .wrapper {
     max-width:100%;
   }
    #usa a, #canada a {
        cursor: pointer;
        color:#00BCD4;
        font-size: 70%;
    }
    #canada, #form1,  .breadcrumb.full-width.new-lp-header-vgo {
        display: none;
    }
  fieldset {
    border: 0
  }
  input[type="text"] {
    border-radius:0px ;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background:transparent;
    font-size:20px;
    width:100%;
    margin-left:-15px;
      
  }
  .main-content h2:not(.ghostmonitor-notification-popup__subtitle) {
    font-size:40px !important;
    color:#fff;
  }
  .responsive .lead {
    font-size: 16px;
  }
      input[type="submit"], .white-btn {
              height: auto;
    white-space: pre;
            background: #fff;
            color: #444;
            font-size: 20px;
            padding: 10px 40px;
        margin-left:20px;
        
             box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        input[type="submit"]:hover, .white-btn:hover {
             box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          color: #444;
            background: #fff;
            font-size: 20px;
            padding: 10px 40px;
        }
        .gear {
            
             box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
      
         .outdoor {
         background: url({{ 'shipping2.jpg' | asset_url }});
            background-size: cover;
            padding: 150px 50px;
            color: #fff;
               background-position: bottom right;
         }
   .freeship {
            background: url({{ 'freeship.jpg' | asset_url }});
        }
        .support {
             background: url({{ 'easyreturns.jpg' | asset_url }}); 
           
        }
        .easyreturns {
           background: url({{ 'supportteam.jpg' | asset_url }}); 
             background-position: -50px -60px !important;
        }
        .whyus {
            height: 150px;
             padding: 50px 30px;
            color: #fff; 
            background-position: center center;
          margin-bottom:30px;
        }
        .whyus p {
            background: rgba(225,225,225,.8);
            color: #444;
            font-size: 22px;
            padding: 10px;
            width: 100%;
            font-weight: bold;
        }
  .main-content h3 {
    color:#fff;
  }
  @media (max-width:789px) {
    .outdoor {
      padding: 40px 20px;
    }
    input[type="text"], .white-btn {
      font-size:16px;
    }
     #usa a, #canada a { 
       text-align:center;
     }
    .whyus p {
      font-size:16px;
    }
    input[type="text"] {
    margin-left:0px;
    }
  }
    
</style>
<script type="text/javascript">
function usa() {
  var trackingNum = document.getElementById("trackingNumUsa").value;
   var url = "https://tools.usps.com/go/TrackConfirmAction.action?tLabels="+trackingNum;
    var win = window.open(url, '_blank');
  return false;
}
function int() {
  var trackingNum = document.getElementById("trackingNumCa").value;
   var url = "http://www.17track.net/en/track?nums="+trackingNum;
    var win = window.open(url, '_blank');
  return false;
}
</script>
         <div class="row">
         <div class="col-md-12">
          <div class="outdoor gear">
             <h2>Track Your Order Easily</h2>
            <p ><em>Due to holidays the post service experience delay. Please allow 15-23 days for shipping.</em></p>
                   <h3 id="canada">USA Tracking Numbers Only<br><a>Not US? Click Here!</a></h3>
<h3 id="usa">Non-USA Tracking Numbers<br><a>Shipping to US? Click Here!</a></h3>

            <form name="form1" id="form1" method="post" onsubmit="return usa()">  
  <fieldset class="form-horizontal">  
  <div class="form-group required">
          <div class="col-sm-10">
            <input required="required" type="text" id="trackingNumUsa" class="form-control" placeholder="Your Tracking Number" />
          </div>
        </div>
  </fieldset>
    <div class="row">
        <div class="pull-left">
          <input class="white-btn" name="order" id="order"  type="submit" value="Check My Order" />
        </div>
      </div>
</form>
<form name="form2" id="form2" method="post" onsubmit="return int()">  
  <fieldset class="form-horizontal">  
  <div class="form-group required">
        
          <div class="col-sm-10">
            <input required="required" type="text" id="trackingNumCa" class="form-control" placeholder="Your Tracking Number" />
          </div>
        </div>
  </fieldset>
    <div class="row">
        <div class="pull-left">
          <input class="white-btn" name="order" id="order"  type="submit" value="Check My Order" />
        </div>
      </div>
</form>
            
            
          <!--  <a href="https://valuegearonline.com/collections/outdoor-gear" class="white-btn">Explore Now</a>
          -->   </div>
             
          </div> 
          
          </div>

<!--<form name="form1" id="form1" method="post" onsubmit="return usa()">  
  <fieldset class="form-horizontal">  
  <div class="form-group required">
          <label class="col-sm-2 control-label" for="trackingNumUsa">Tracking Number</label>
          <div class="col-sm-10">
            <input required="required" type="text" id="trackingNumUsa" class="form-control" />
          </div>
        </div>
  </fieldset>
    <div class="buttons">
        <div class="pull-right">
          <input class="btn btn-primary" name="order" id="order"  type="submit" value="Check My Order" />
        </div>
      </div>
</form>
<form name="form2" id="form2" method="post" onsubmit="return canada()">  
  <fieldset class="form-horizontal">  
  <div class="form-group required">
          <label class="col-sm-2 control-label" for="trackingNumCa">Tracking Number</label>
          <div class="col-sm-10">
            <input required="required" type="text" id="trackingNumCa" class="form-control" />
          </div>
        </div>
  </fieldset>
    <div class="buttons">
        <div class="pull-right">
          <input class="btn btn-primary" name="order" id="order"  type="submit" value="Check My Order" />
        </div>
      </div>
</form> -->
<script>
$("#canada").click(function(){
    $(this).hide();
    $("#usa").show();
    $("#form1").slideToggle('2000',"swing", function () {
        // Animation complete.
    });
    $("#form2").slideToggle('2000',"swing", function () {
        // Animation complete.
    });
});

$("#usa").click(function(){
    $(this).hide();
    $("#canada").show();
     $("#form2").slideToggle('2000',"swing", function () {
        // Animation complete.
    });
    $("#form1").slideToggle('2000',"swing", function () {
        // Animation complete.
    });
});
</script>
     
    </div>
  </div>
     
</div>
